

html
  head
    if title
      title= title
    else
      title Yun -- shitty HN frontend

    link(rel="stylesheet", href="/static/css/site.css")
  body
    div.main-nav
      a.bracket(href="/") home
      span #{" "}
      small: a.bracket(href="https://github.com/nvlled/yun") code
    block content
