

body {
    font-size: 30px;
}

.comment-item {
    border-left: 15px solid rgba(50, 150, 120, 0.7);
    border-bottom: 1px solid gray;
    padding: 5px;
    margin-bottom: 25px;
}

.bracket::before { content: "[" }
.bracket::after  { content: "]" }
